/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

header .highlight {
    color: #e74c3c;
}

header .email a {
    text-decoration: none;
    color: #3498db;
}

nav {
    margin-bottom: 2rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.about, .what-i-do, .interests {
    margin-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

footer {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 3rem;
    color: #7f8c8d;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2c3e50;
        color: #ecf0f1;
    }

    header h1 {
        color: #ecf0f1;
    }

    header .highlight {
        color: #e74c3c;
    }

    header .email a {
        color: #3498db;
    }

    nav ul li a {
        color: #3498db;
    }

    footer {
        color: #bdc3c7;
    }

    footer a {
        color: #3498db;
    }
}

/* Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
        padding: 1rem;
    }
}
